@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

html > body{
    background-color: #F0F8FF;
    overflow-x: hidden;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.visible{
    display: flex !important;
    visibility: visible !important;
}

.hidden{
    display: none !important;
    visibility: hidden !important;
}
/*----- Start Navbar Style -----*/
.menu{
    background-color: #213242;
    height: 14vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 3000 !important;
}

.menu_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 75rem;
    height: 100%;
}

.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;
    background-color: #213242;
    margin-top: 1%;
}

.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu_item--active{
    --transform: rotate(0);
    --background: #213242;
}

.menu_item--show{
    background-color: #213242;
}

.menu_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu_nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #213242;
}

.menu_link{
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 0 1.875rem;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: #213242;
}

.menu_link:hover{
    background-color: #00000050;
    color: #FFFFFF;
}

.menu_arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: .1875rem;
}

.menu_link--inside{
    padding: .9375rem 3.125rem .9375rem .625rem;
}

.menu_link--inside:hover{
    background-color: #00000050;
}

.menu_hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 .9375rem;
    cursor: pointer;
    display: none;
}

.menu_img{
    display: block;
    width: 2.25rem;
}

.btnWsp{
    position: fixed;
    bottom: 3.125rem;
    right: 1.25rem;
    z-index: 1500 !important;
}
/*----- End Navbar Style -----*/

section h1, section h2{
    font-family: 'Overlock SC', cursive;
    font-weight: bold;
    color: #000000 !important;
    font-size: 60px;
    margin-bottom: 5%;
    text-align: center;
    letter-spacing: 3px;
}

section p{
    color: #000000;
    font-size: 18px;
    letter-spacing: 1px;
}

.headline{
    background-image: url('../assets/img/aduana.png');
    width: 100%;
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
}

section article div img{
    max-width: 100%;
}

.container-fluid{
    margin: auto !important;
}

.alignContent{
    margin: 1% auto 0 auto;
    padding: 6% 3%;
    text-align: justify !important;
    align-items: center;
}

.bg-services{
    background-color: #00000020;
}

.company{
    background-color: #B22222;
    color: #FFFFFF;
    margin-top: -1.7% !important;
}

.services{
    background-color: #EA9247;
    justify-content: center;
}

.services iframe{
    display: flex;
    margin: 0 auto !important;
}

.contact{
    background-color: #FF8000;
    margin-top: -1.7% !important;
}

form button{
    background-color: #213242 !important;
    letter-spacing: 3px !important;
}

form label{
    color: #FFFFFF !important;
    letter-spacing: 2px !important;
}

form input[type]:focus{
    outline: none !important;
}



.up{
    position: fixed;
    line-height: 64px;
    bottom: 100px;
    right: 30px;
    text-align: center;
    z-index: 100;
}


